:root {
    --color-1: #D7D9D9; /* Color predominante neutro */
    --color-2: #8C7561; /* Color acento relacionado con la madera */
    --color-3: #A69485; /* Color neutro suave */
    --color-4: #8C5332; /* Color acento oscuro */
    --color-5: #261911; /* Color oscuro */
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--color-5);
    background-color: var(--color-1);
}

.navbar {
    background-color: var(--color-3);
}

.navbar-brand, .nav-link {
    color: var(--color-5) !important;
}

.nav-link:hover {
    color: var(--color-4) !important;
}

.jumbotron {
    background-color: var(--color-2);
    color: var(--color-1);
}

.section-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2, h3 {
    color: var(--color-5);
}

.skill-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card {
    border: none;
    background-color: var(--color-2);
    color: var(--color-1);
}

.card-title {
    color: var(--color-5);
}

.btn-primary {
    background-color: var(--color-4);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-5);
}

.footer {
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 10px 0;
}

.form-control, .btn-secondary {
    border-color: var(--color-4);
}

.btn-secondary {
    color: var(--color-1);
    background-color: var(--color-4);
}

.btn-secondary:hover {
    background-color: var(--color-5);
}
